root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[{bin/*,lib/*}]
switch_case_indent = true  # like -ci
space_redirects = true  # like -sr

[*.{pcl,y*ml}]
indent_size = 2
